mixin header()
	.header
		.container
			.row
				.col-1.header__menu
					.header__menu_open
						i.material-icons menu
					.header__menu_block.p-2.d-none.text-center
						.header__menu_close
							i.material-icons close
						ul.header__menu_list.list-unstyled
							li.header__menu_item
								a.link(href="/") Главная
							li.header__menu_item
								a.link(href="/history") История&nbsp;кафедры
							li.header__menu_item
								a.link(href="/teachers") Состав&nbsp;кафедры
							li.header__menu_item
								a.link(href="/subjects") Изучаемые&nbsp;дисциплины
							li.header__menu_item
								a.link(href="/books") Учебные&nbsp;пособия и монографии
							li.header__menu_item
								a.link(href="/educational-work") Направления&nbsp;подготовки
							li.header__menu_item
								a.link(href="/vkr") Темы&nbsp;ВКР в 2017/2018 году
							li.header__menu_item
								a.link(href="/masters-themes") Темы&nbsp;магистерских&nbsp;диссертаций
							li.header__menu_item
								a.link(href="/reviewing-vkr") Рецензирование&nbsp;и&nbsp;утверждение ВКР
							li.header__menu_item
								a.link(href="/contacts") Контакты
				.col-11.col-lg-6.header__address
					i.material-icons place&nbsp;
					|Авиамоторная ул., д.8а
				.col-12.col-lg-2
					i.material-icons email&nbsp;
					|mail@kibia
				.col-12.col-lg-4
					i.material-icons phone&nbsp;
					|+7(495)957-79-51/+7(495)361-05-22
			#toTop
				i.material-icons arrow_upward