mixin main__banner()
	.main__banner
			nav.navbar.navbar-expand-lg.main-menu.text-uppercase
				.container
					ul.navbar-nav.row.align-middle
						li.nav-item.col-lg-2
							a.nav-link.text-right(href="/") 
								img.header__logo(src="/ii/img/logo.png")
						li.nav-item.col-lg-2.dropdown
							a.nav-link О кафедре
							ul.dropdown-menu.sub-menu
								li.nav-item
									a.nav-link(href="/history") История&nbsp;кафедры
								li.nav-item
									a.nav-link(href="/teachers") Состав&nbsp;кафедры
						li.nav-item.col-lg-2.dropdown
							a.nav-link Учебная работа
							ul.dropdown-menu.sub-menu
								li.nav-item
									a.nav-link(href="/subjects") Изучаемые&nbsp;дисциплины
								li.nav-item
									a.nav-link(href="/books") Учебные&nbsp;пособия и монографии
								li.nav-item
									a.nav-link(href="/educational-work") Направления&nbsp;подготовки
						li.nav-item.col-lg-2
							a.nav-link(href="/news") Новости
						li.nav-item.col-lg-2.dropdown
							a.nav-link Дипломнику
							ul.dropdown-menu.sub-menu
								li.nav-item
									a.nav-link(href="/vkr") Темы&nbsp;ВКР в 2017/2018 году
								li.nav-item
									a.nav-link(href="/masters-themes") Темы&nbsp;магистерских диссертаций
								li.nav-item
									a.nav-link(href="/reviewing-vkr") Рецензирование&nbsp;и утверждение ВКР
						li.nav-item.col-lg-2
							a.nav-link(href="/contacts") Контакты
			a.main__banner_title.text-center.d-block(href="/") Кафедра информационной безопасности
				.main__banner_subtitle Факультет Информационных технологий
