mixin teacher(teacherName, teacherDegree, teacherPosition,teacherSubPosition)
	.row.teacher.pt-2.pb-2
		.col-lg-4.col-md-4.col-12
			img.teacher__photo
		.col-lg-5.col-md-5.col-12.mb-2
			a.teacher__name.link.mb-1 #{teacherName}
			.teacher__degree #{teacherDegree}
		.col-lg-3.col-md-3.col-12.mb-3 #{teacherPosition}
			br
			|#{teacherSubPosition}
