doctype html
html(lang="ru")
	include ../../templates/head.pug
	include ../../templates/header.pug
	include ../../templates/footer.pug
	include ../../templates/main__banner.pug

	head
		-var pageName = "Контакты"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-5.pr-3
					h1 Контакты		
					.row.mb-1
						.col-lg-3.col-md-6.col-12.font-weight-bold Телефоны	
						.col-lg-9.col-md-6.col-12 +7(495)957-79-51, +7(495)361-05-22
					.row.mb-1
						.col-lg-3.col-md-6.col-12.font-weight-bold Адрес электронной почты	
						.col-lg-9.col-md-6.col-12 mail@kibia.ru
					.row.mb-4
						.col-lg-3.col-md-6.col-12.font-weight-bold Адрес	
						.col-lg-9.col-md-6.col-12 Москва, улица Авиамоторная д.8а
					<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Afde1aa2315cc276d5262019a9aac4c84fde7786438f11e7092b9e57e1276eb42&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>

		+footer()




