doctype html
html(lang="ru")
	include ../../../templates/head.pug
	include ../../../templates/header.pug
	include ../../../templates/footer.pug
	include ../../../templates/main__banner.pug

	head
		-var pageName = "Шелухин Олег Иванович"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-5.pr-5
					h1.mb-3 Шелухин Олег Иванович
					img.teacher__photo.mr-4.mb-1(src="/ii/img/teachers/sheluhin.jpg")
					p.mb-1
						span.font-weight-bold Окончил с отличием МИИТ (МГУПС) в 1973 году 
						|по специальности «Автоматика, телемеханика, связь» получив диплом радиоинженера. 
					p.mb-1
						span.font-weight-bold Окончил МГУ имени М. В. Ломоносова в 1981 году, 
						|факультет «Вычислительная математика и кибернетика», получив диплом по специальности «математик».
					p.mb-1
						span.font-weight-bold Кандидат технических наук - 1978 г.
					p.mb-1
						span.font-weight-bold Доктор технических наук 
						|по специальности «Радиотехнические системы специального назначения» - 
						span.font-weight-bold 1990 г.
					p.mb-1
						span.font-weight-bold Ученое звание «Профессор» - 1991 год.
					p.mb-1
						span.font-weight-bold С 1991 года заведующий кафедрой «Радиотехника и телекоммуникации» 
						|в РГУТиС (Российский государственный университет туризма и сервиса).
					p.mb-1
						span.font-weight-bold С 2003 года 
						|работает в МТУСИ на кафедре «Защита информации и техника почтовой связи» ЗИТПС в должности профессора, а с 
						span.font-weight-bold 2009 года 
						|в должности заведующего этой кафедрой.	
					p.mb-1
						span.font-weight-bold С 2012 года – 
						|заведующий кафедрой 
						span.font-weight-bold «Информационная безопасность и автоматизация» 
						|МТУСИ, а 
						span.font-weight-bold с 2016 года – 
						|заведующий кафедрой 
						span.font-weight-bold «Информационная безопасность» 
						|МТУСИ.
					p.mb-1
						span.font-weight-bold В 2004 году 
						|указом президента присвоено звание 
						span.font-weight-bold «Заслуженный деятель науки РФ».
					p.mb-1
						span.font-weight-bold Почетный работник высшей школы – 2007 г.
					p.mb-1
						span.font-weight-bold В 2016 году 
						|награждён дипломом лауреата Всероссийского конкурса в области информационной безопасности "Инфофорум-Новое поколение" в номинации "Преподаватель года".
					p.mb-1
						span.font-weight-bold В 2008-2010 годы – председатель диссертационного совета 
						|по защите докторских диссертаций № Д 212.150.02 при ФГОУВПО «РГУТиС», по специальностям 05.12.13 «Системы, сети и устройства телекоммуникаций» и «05.09.03 «Электротехнические комплексы и системы» при РГУТИС.
					p.mb-1
						span.font-weight-bold С 2004 по 2010 – главный редактор научно-технического журнала 
						|«Электротехнические и информационные комплексы и системы» .
					p.mb-1 Член редколлегий 3-х центральных научно-технических журналов.
					p.mb-1
						span.font-weight-bold В 2003-2009 годы 
						|председатель комиссии учебно-методического объединения (УМО) по образованию в области радиотехники, электроники, биомедицинской техники и автоматизации.
					p.mb-1 Автор более 250 научных работ, в том числе 13 патентов и авторских свидетельств.
					p.mb-1 Под научным руководством Шелухина О.И. подготовлены 
						span.font-weight-bold 3 доктора и 24 кандидата 
						|технических наук.
					p.mb-1
						span.font-weight-bold Область научных интересов: 
						|имитационное моделирование, сжатие, обработка и передача аудио и видео информации, защита информации.


		+footer()




