doctype html
html(lang="ru")
	include ../../../templates/head.pug
	include ../../../templates/header.pug
	include ../../../templates/footer.pug
	include ../../../templates/main__banner.pug

	head
		-var pageName = "Вторая молодежная кафедральная конференция 'Информационная безопасность, автоматизация и программирование'"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-5.pr-5
					h1 Вторая молодежная кафедральная конференция "Информационная безопасность, автоматизация и программирование"
					#carousel-example-generic.carousel.slide(data-ride="carousel")
						ol.carousel-indicators
							li.active(data-target="#carousel-example-generic" data-slide-to="0")
							li(data-target="#carousel-example-generic" data-slide-to="1")
							li(data-target="#carousel-example-generic" data-slide-to="2")
							li(data-target="#carousel-example-generic" data-slide-to="3")
							li(data-target="#carousel-example-generic" data-slide-to="4")
							li(data-target="#carousel-example-generic" data-slide-to="5")
							li(data-target="#carousel-example-generic" data-slide-to="6")
							li(data-target="#carousel-example-generic" data-slide-to="7")
							li(data-target="#carousel-example-generic" data-slide-to="8")
							li(data-target="#carousel-example-generic" data-slide-to="9")
							li(data-target="#carousel-example-generic" data-slide-to="10")
						.carousel-inner(role="listbox")
							.carousel-item.active
								img(src="/ii/img/news/11.jpg")
							.carousel-item
								img(src="/ii/img/news/1.jpg")
							.carousel-item
								img(src="/ii/img/news/2.jpg")
							.carousel-item
								img(src="/ii/img/news/3.jpg")
							.carousel-item
								img(src="/ii/img/news/4.jpg")
							.carousel-item
								img(src="/ii/img/news/5.jpg")
							.carousel-item
								img(src="/ii/img/news/6.jpg")
							.carousel-item
								img(src="/ii/img/news/7.jpg")
							.carousel-item
								img(src="/ii/img/news/9.jpg")
							.carousel-item
								img(src="/ii/img/news/10.jpg")
						a.left.carousel-control(href="#carousel-example-generic" role="button" data-slide="prev")
							i.material-icons keyboard_arrow_left
						a.right.carousel-control(href="#carousel-example-generic" role="button" data-slide="next")
							i.material-icons keyboard_arrow_right
					p.mb-1.mt-2.text-justify 26 декабря 2013 г. в аудитории А-256 состоялась вторая молодежная кафедральная конференция "Информационная безопасность, автоматизация и программирование".
					p.mb-1.font-weight-bold Организационный комитет конференции.
					ul.mb-1.ml-4
						li д.т.н., проф. зав. кафедрой ИБиА Шелухин О.И.
						li к.т.н., секретарь кафедры ИБиА Мочалов В.А.
					p.mb-1 На конференции были заслушаны 14 докладов студентов, бакалавров и аспирантов кафедры ИБиА.
					p.mb-1 Организационный комитет отметил следующие доклады:
					ul.ml-4
						li Программная реализация СОВ для обнаружения и защиты от ARP-spoofing атаки. Студентка группы КЗ1001 Довлетназарова О.Т.
						li Обнаружение и защита от ICMP-flood атаки. Студент группы КЗ1001 Гуль А.П.
						li Программная реализация СОВ для обнаружения Land атаки. Студент группы КЗ1001 Пичкуров П.А.
						li Программное сигнатурное обнаружение и блокирование сетевых пакетов. Бакалавр группы БИБ1101 Денисов А.И.
						li Программная реализация СОВ для обнаружения и защиты от атаки “Тунелирование”. Бакалавр группы БИБ1101 Пономарева Ю.А.

		+footer()




