doctype html
html(lang="ru")
	include ../../templates/head.pug
	include ../../templates/header.pug
	include ../../templates/footer.pug
	include ../../templates/main__banner.pug

	head
		-var pageName = "История кафедры"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-3.pb-2.pl-5.pr-5
					h1 История создания кафедры "Информационная безопасность"
					p.mt-2.mb-1.text-justify В 1958 году на базе общеинститутских кафедр и специальных кафедр Инженерно-экономического факультета был организован первый набор студентов для подготовки инженеров-электромехаников по проектированию и эксплуатации почтообрабатывающей техники и контролю денежно-кассовых операций почтовой связи. В числе студентов первого набора (1958 год) были Птицын Г.А., Колканов М.Ф. и др. Первые выпускники были направлены в СПКБ при Казанском вокзале. Первоначальные группы студентов-электромехаников входили в состав Инженерно-экономического факультета, деканом которого был профессор Крупянский Ф.Ю., сыгравший значительную роль в организации учебного процесса. Позднее деканами Инженерно-экономического факультета были Захаров И.А., Тарасова Н.П.
					p.mb-1.text-justify Для обучения студентов по профилирующим дисциплинам подготовки электромехаников в июле 1962 года была организована кафедра "Автоматизации и механизации предприятий почтовой связи". Заведующим кафедрой был назначен доцент Хлытчиев С.М. В состав кафедры первоначально входили доцент Лучинский И.Н., ассистенты Мицкевич В.А., Лившиц В.М. и зав. лабораториями Соколов В.П. Позже на кафедру пришли и Птицын Г.А., Захаров И.А., Ворожцов А.С., Педяш В.А., Добролюбов В.В. и др.
					.col-12.col-lg-12.mt-4.text-center
						img.img__full(src="/ii/img/history/aimps.png")
					p.mb-4.text-center.font-italic Кафедра автоматизации и механизации почтовой связи.
						br 
						|Стоят (слева направо): В.П. Соколов, А.С. Ворожцов, В.А. Мицкевич
						br
						|Сидят: В.М. Лившиц, В.А. Педяш, С.М. Хлытчиев, Г.А. Птицын
					p.mb-1.text-justify В 1988 году кафедра была переименована в кафедру "Защита информации и техника почтовой связи" (ЗИТПС). Кафедру возглавил заслуженный деятель науки РФ, д.т.н., професоор Петраков А.В., который руководил кафедрой до 2009 года.
					p.mb-1.text-justify В 2009 году кафедру возглавил заслуженный деятель науки РФ, д.т.н., профессор Шелухин О.И. В этот период на кафедре работали профессора Птицын Г.А., д.т.н. Звежинский С.С., Фёдоров С.Е., доценты Барсук И.В., Руднев А.Н., Осин А.В., Тарасова Н.П. и заведующий лабораториями Михалёв В.В.
					p.mb-1.text-justify В 2011 году произошло объединение кафедр ЗИТПС и "Автоматизация, информационные технологии и сертификация в связи" (АИТСС). До слияния кафедрой АИТСС руководил заслуженный деятель науки РФ, д.т.н., профессор Мамзелев И.А., а позднее – к.т.н., доцент Ерохин С.Д.
					p.mb-1.text-justify Объединённая кафедра получила название "Информационная безопасность и автоматизация" (ИБиА). Кафедру возглавил заслуженный деятель науки РФ, д.т.н., професоор Шелухин О.И. В этот период на кафедре работали более 20 преподавателей, в числе которых доктора технических наук, профессора Крейнделин В.Б., Звежинский С.С., профессора Птицын Г.А., Федоров С.Е., Максименко В.Н., Соколов В.П., Репинский В.Н., Жидаков В.П., Титов Е.В., доценты Андрюков А.А., Барсук И.В., Добролюбов В.В., Ерохин С.Д., Мочалов В.А., Симонян А.Г., Руднев А.Н., Тарасова Н.П., Лобзов А.В., Исаева Л.Н., ассистенты Бен Режеб Т.Б.К., Смирнов А.Э., зав. лабораториями Пухова Т.Ф., ведущий инженер Траубенберг А.П., инженер Михалёв В.В.
					p.mb-1.text-justify Кафедра выпускала специалистов на дневном и заочном отделениях по направлениям "Информационная безопасность" (профиль "Комплексная защита объектов информатизации), "Инфокоммуникационные технологии и системы связи" (профиль "Безопасность и программная защита инфокоммуникаций"), "Автоматизация технологических процессов и производств (связь)", "Информатика и вычислительная техника" (профиль "Программная защита информации").         																																			
					p.mb-1.text-justify Кафедра участвовала в подготовке специалистов по направлениям "Управление в технических системах", "Информационные системы и технологии", "Вычислительные машины, комплексы, системы и сети".
					p.mb-1.text-justify Общее количество выпускников в эти годы достигало 200 человек.
					.col-12.col-lg-12.mt-4.text-center
						img.img__full(src="/ii/img/history/kibia.png")
					p.mb-4.text-center.font-italic Кафедра информационной безопасности и автоматизации.
						br 
						|Стоят (слева направо): А.А. Андрюков, А.В. Лобзов, В.А. Мочалов, В.Н. Репинский, С.С. Звежинский, С.Д. Ерохин, В.В. Добролюбов, А.Г. Симонян, В.В. Михалёв, И.В. Барсук, Т.Б.К. Бен Режеб
						br
						|Сидят: Т.В. Пухова, А.П. Траубенберг, Л.Н. Исаева, О.И. Шелухин, В.Б. Крейнделин, В.П. Соколов, В.П. Жидаков, Г.А. Птицын, В.Н. Максименко
					p.mb-1.text-justify В 2016 году кафедра ИБиА была разделена на две: кафедру "Информационная безопасность" (ИБ) и кафедру "Интеллектуальные системы в управлении и автоматизации" (ИСУиА).
					p.mb-1.text-justify Кафедру "Информационная безопасность" возглавил заслуженный деятель науки РФ, д.т.н., профессор Шелухин О.И. Кафедра сосредоточилась на подготовке бакалавров и магистров по направлениям "Информационная безопасность" (профиль "Комплексная защита объектов информатизации), "Инфокоммуникационные технологии и системы связи" (профиль "Безопасность и программная защита инфокоммуникаций"), "Информатика и вычислительная техника" (профиль "Программная защита информации").
					p.mb-1.text-justify В 2016 году кафедра "Информационная безопасность" награждена дипломами лауреата Всероссийского конкурса в области информационной безопасности "Инфофорум-Новое поколение" в номинации "Преподаватель года" (профессор Шелухин О.И.) и "Студент года" (магистрант Костин Д.В.).
					.row.mt-2
						.col-12.col-lg-6.text-center.mb-2
							img.img__half(src="/ii/img/history/kostin_infoforum.png")
						.col-12.col-lg-6.text-center.mb-2
							img.img__half(src="/ii/img/history/sheluhin_infoforum.png")
					.col-12.col-lg-12.mt-4.text-center
						img.img__full(src="/ii/img/history/ib_2017.png")
					p.mb-4.text-center.font-italic Кафедра информационной безопасности (2017 год).
						br 
						|В первом ряду стоят (слева направо):П.Г. Горлач, Д.В. Костин, С.Д. Ерохин, О.И. Шелухин, А.В. Ванюшина, И.В. Барсук, Е.Е. Шекурова, А.И. Ларин, А.П. Траубенберг 
						br
						|Второй ряд: И.А. Денисов, А.В. Осин, А.Г. Симонян, А.С. Большаков, С.С. Звежинский, О.П. Иевлев, В.В. Барков, А.Н. Руднев, А.Э. Смирнов, Т.Б.К. Бен Режеб, В.В. Михалёв
					p.mb-1.text-justify В 2017 году кафедра "Информационная безопасность" награждена дипломами лауреата Всероссийского конкурса в области информационной безопасности "Инфофорум-Новое поколение" в номинациях "Образовательный центр года" и "Студент года" (магистрант Канаев С.Д.).
					.row.mt-2
						.col-12.col-lg-6.text-center.mb-2
							img.img__half(src="/ii/img/history/diplom_ib.png")
						.col-12.col-lg-6.text-center.mb-2
							img.img__half(src="/ii/img/history/kanaev_infoforum.png")
					p.mb-1.text-justify В 2017 году кафедра выпускает 50 бакалавров по направлению 11.03.02 "Инфокоммуникационные технологии и системы связи" программа "Программно-защищенные инфокоммуникации", 17 бакалавров по направлению "Информационная безопасность", 18 магистров по направлению 11.04.02 "Инфокоммуникационные технологии и системы связи" профиль "Безопасность и программная защита инфокоммуникаций", 6 магистров по направлению 09.04.01 "Информатика и вычислительная техника" профиль "Программная защита информации".

		+footer()




