doctype html
html(lang="ru")
	include ../../../templates/head.pug
	include ../../../templates/header.pug
	include ../../../templates/footer.pug
	include ../../../templates/main__banner.pug

	head
		-var pageName = "Крейнделин Виталий Борисович"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-5.pr-5
					h1.mb-3 Крейнделин Виталий Борисович
					img.teacher__photo_detail.mr-4.mb-1(src="/ii/img/teachers/kreindelin.jpg")
					p.mb-1 Крейнделин В.Б. - профессор кафедры ИБиА, доктор технических наук (2009г.). Окончил: с отличием Московский Институт Связи (МИС (в настоящее время – МТУСИ), 1990г., специальность «Радиотехника») и Московский Государственный Университет им. М.В. Ломоносова (МГУ, 1994 г., специальность «Прикладная математика»). Ученые степени кандидата и доктора технических наук присуждены в МТУСИ (1994 г., 2009 г.), ученое звание доцента присвоено в 2003 г, ученое звание профессора присвоено в 2014 году 
					p.mb-1 Инженер, ст. научный сотрудник отдела подвижной связи НИИР (1990-1997 гг.); ассистент кафедры РТС МТУСИ (1998-1999 гг.); доцент кафедры АИТСС МТУСИ (2000-2009 гг.); профессор кафедры АИТСС МТУСИ (2009-2012 гг.); С 2012 г. по настоящее время - профессор кафедры ИБиА МТУСИ. Начальник отдела Минсвязи России, затем – начальник отдела Федерального агентства связи (2001 г. - наст. время). Мастер связи (2007 г.).
					p.mb-1 Ведет учебные занятия по дисциплинам «Беспроводные сети передачи данных», «Математическое моделирование», «Компьютерные технологии в системах управления». Является автором и соавтором научных монографий: «Новые технологии в системах мобильной радиосвязи» (2005 г.), «Новые алгоритмы формирования и обработки сигналов в системах подвижной связи» (2008 г.), «Новые методы обработки сигналов в системах беспроводной связи» (2009 г.); соавтор ряда учебных пособий МТУСИ. Руководит научной работой аспирантов и подготовкой выпускных квалификационных работ бакалавров и магистров. Под его руководством защищено 2 кандидатские диссертации.
					p.mb-1 Имеет более 150 научных печатных работ, в том числе более 30 российских и зарубежных (США, Канада, Европа) патентов на изобретения в области беспроводной связи.
					p.mb-1
						span.font-weight-bold Область научных интересов 
						|- формирование и обработка сигналов в системах подвижной радиосвязи, в том числе в системах CDMA, OFDM, MIMO и др., методы снижения вычислительной сложности алгоритмов обработки сигналов в системах связи.
					p Крейнделин В.Б. предлагает  
						span.font-weight-bold темы квалификационных работ 
						|бакалавров, инженеров, магистров и аспирантов по тематике беспроводной связи:
						ol.numeric-list
							li.numeric-list__item Беспроводные сети М2М;
							li.numeric-list__item Беспроводные сети стандарта IEEE.802.16e;
							li.numeric-list__item Беспроводные сети стандарта IEEE.802.16m;
							li.numeric-list__item Беспроводные сети стандарта IEEE.802.11n;
							li.numeric-list__item Беспроводные сети стандарта LTE;
							li.numeric-list__item Беспроводные сети стандарта LTE-Advanced;
							li.numeric-list__item Методы пространственно-временного кодирования (Space-Time Coding) и их применение в беспроводных сетях;
							li.numeric-list__item Beamforming в беспроводных сетях;
							li.numeric-list__item Precoding в беспроводных сетях;
							li.numeric-list__item Multiuser MIMO в беспроводных сетях;
					p Возможны также и другие темы в данной области и в смежных областях.	
				


		+footer()




