doctype html
html(lang="ru")
	include ../templates/head.pug
	include ../templates/header.pug
	include ../templates/footer.pug
	include ../templates/main__banner.pug

	head
		-var pageName = "Кафедра Информационной безопасности"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-5.pr-3
					h1 Главная
					p.mb-0
						span.font-weight-bold Заведующий кафедрой: 
						a.link(href="/teachers/sheluhin") Шелухин Олег Иванович,
						|д.т.н., профессор, заслуженный деятель науки Российской Федерации, почётный работник высшего профессионального образования Российской Федерации. В 2016 году награждён дипломом лауреата Всероссийского конкурса в области информационной безопасности "Инфофорум-Новое поколение" в номинации «Преподаватель года». 
					p.mb-0
						span.font-weight-bold Заместитель заведующего кафедрой:
						| Симонян Айрапет Генрикович, к.т.н., доцент.
					p.mb-0
						span.font-weight-bold Учёный секретарь кафедры:
						| Бен Режеб Тауфик Бен Камель, старший преподаватель.
					p.mb-0 Профессорско-преподавательский состав кафедры насчитывает 19 человек, среди которых 3 доктора технических наук и 7 кандидатов технических наук. Кафедра является выпускающей и готовит бакалавров и магистров.
					.row.mt-2
						h3.col-lg-10.col-7 Последние новости
						a.link.col-lg-2.col-5.text-right(href="#") все новости
		+footer()




