doctype html
html(lang="ru")
	include ../../templates/head.pug
	include ../../templates/header.pug
	include ../../templates/footer.pug
	include ../../templates/main__banner.pug
	include ../../templates/teacher.pug

	head
		-var pageName = "Состав кафедры"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-5.pr-3
					h1 Состав кафедры
					.row.teacher__header.font-weight-bold.pt-2.pb-2
						.col-lg-4.col-md-4.col-12 Фото
						.col-lg-5.col-md-5.col-12 ФИО, учёная степень, звание
						.col-lg-3.col-md-3.col-12 Должность
					+teacher('Шелухин Олег Иванович', 'Заслуженный деятель науки Российской Федерации, почетный работник высшей школы Российской Федерации, д.т.н., профессор','Заведующий кафедрой') 
					+teacher('Крейнделин Виталий Борисович', 'д.т.н., профессор', 'Профессор') 
					+teacher('Звежинский Станислав Сигизмундович', 'д.т.н., профессор', 'Профессор') 
					+teacher('Большаков Александр Сергеевич','к.т.н., доцент','	Доцент')
					+teacher('Ерохин Сергей Дмитриевич','к.т.н., доцент','	Доцент')
					+teacher('Ларин Александр Иванович','к.т.н., доцент','	Доцент')
					+teacher('Максименко Владимир Николаевич','к.т.н., доцент','	Доцент')
					+teacher('Осин Андрей Владимирович','к.т.н., доцент','	Доцент')
					+teacher('Руднев Алексей Николаевич','к.т.н., доцент','	Доцент')
					+teacher('Симонян Айрапет Герникович','к.т.н., доцент','Доцент', 'Заместитель заведующего кафедрой')
					+teacher('Бен Режеб Тауфик Бен Камель','', 'Старший преподаватель', 'Учёный секретарь кафедры')
					+teacher('Ванюшина Анна Вячеславовна', '', 'Старший преподаватель')
					+teacher('Смирнов Алексей Эдуардович', '', 'Старший преподаватель')
					+teacher('Тихонюк Андрей Иванович', '', 'Старший преподаватель')
					+teacher('Барков Вячеслав Валерьевич','','Ассистент')
					+teacher('Богомолов Егор Антонович','','Ассистент')
					+teacher('Костин Денис Владимирович','','Ассистент')
					+teacher('Фармаковский Максим Александрович','','Ассистент')
					+teacher('Пухова Татьяна Фёдоровна','','Заведующий лабораторией кафедры')
					+teacher('Кускова Ирина Григорьевна','','Ведущий инженер')
					+teacher('Магомедова Дженнет Исламутдиновна','','инженер')
					+teacher('Пугачев Денис Александрович','','инженер')
					+teacher('Тужилина Ксения Александровна','','инженер')

					 

		+footer()




