doctype html
html(lang="ru")
	include ../../templates/head.pug
	include ../../templates/header.pug
	include ../../templates/footer.pug
	include ../../templates/main__banner.pug
	include ../../templates/teacher.pug

	head
		-var pageName = "Учебные пособия и монографии"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-5.pr-3
					h1 Учебные пособия и монографии
					h4.mb-4 Монографии, изданные преподавателями кафедры
					.row
						.col-lg-2.col-12.col-sm-6.book.mb-5.col-md-4
							.books__cover.text-center.mb-2
								img(src="/ii/img/books/MIMO.jpg")
							.books__authors Бакулин М. Г., Варукина Л.А., Крейнделин В. Б.
							.books__title  Технология MIMO: принципы и алгоритмы.
							.books__info  Горячая линия-Телеком, 2014, 242 с.
						.col-lg-2.col-12.col-sm-6.book.mb-3.col-md-4
							.books__cover.text-center.mb-2
								img(src="/ii/img/books/zvezh1.jpg")
							.books__authors Крюков И.Н., Звежинский С.С., Гомонов А.Н., Духан Е.И
							.books__title  Магнитометрические средства обнаружения. Теория и практика построения.
							.books__info  Радиотехника, 2013, 192 с.
						.col-lg-2.col-12.col-sm-6.book.mb-3.col-md-4
							.books__cover.text-center.mb-2
								img(src="/ii/img/books/shel-rudn.jpg")
							.books__authors Руднев А.Н. Шелухин О.И.
							.books__title  Потоковое видео в системах радиодоступа.
							.books__info  Горячая линия-Телеком, 2013, 362 с.
						.col-lg-2.col-12.col-sm-6.book.mb-3.col-md-4
							.books__cover.text-center.mb-2
								img(src="/ii/img/books/atay-shel.jpg")
							.books__authors A. A. Atayero O. I. Sheluhin.
							.books__title  Integrated Model for Information Communication Systems and Networks. Design and Development.
							.books__info  IGI Global, USA. 2012. 462 p.
						.col-lg-2.col-12.col-sm-6.book.mb-3.col-md-4
							.books__cover.text-center.mb-2
								img(src="/ii/img/books/3-sh.jpg")
							.books__authors Шелухин О.И.
							.books__title  Мультифракталы. Инфокоммуникационные приложения.
							.books__info  Горячая линия-Телеком, 2011, 562.
						.col-lg-2.col-12.col-sm-6.book.mb-3.col-md-4
							.books__cover.text-center.mb-2
								img(src="/ii/img/books/3-sh.jpg") 
							.books__authors Шелухин О.И.
							.books__title  Мультифракталы. Инфокоммуникационные приложения.
							.books__info  Горячая линия-Телеком, 2011, 562.
						.col-lg-2.col-12.col-sm-6.book.mb-3.col-md-4
							.books__cover.text-center.mb-2
								img(src="/ii/img/books/3-sh.jpg")
							.books__authors Шелухин О.И.
							.books__title  Мультифракталы. Инфокоммуникационные приложения.
							.books__info  Горячая линия-Телеком, 2011, 562.
						.col-lg-2.col-12.col-sm-6.book.mb-3.col-md-4
							.books__cover.text-center.mb-2
								img(src="/ii/img/books/22.jpg") 
							.books__authors Шелухин О.И.
							.books__title  Мультифракталы. Инфокоммуникационные приложения.
							.books__info  Горячая линия-Телеком, 2011, 562.
					 

		+footer()




