doctype html
html(lang="ru")
	include ../../templates/head.pug
	include ../../templates/header.pug
	include ../../templates/footer.pug
	include ../../templates/main__banner.pug

	head
		-var pageName = "Рецензирование и утверждение ВКР"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-5.pr-3
					h1 Рецензирование и утверждение ВКР
					p.mb-1 
						span.font-weight-bold Направление на рецензию 
						|даёт исключительно заведующий кафедрой ИБ д.т.н., профессор Шелухин О.И.
					p.mb-1 Для утверждения законченной работы и направления на рецензию необходимо 
						span.font-weight-bold представить заведующему кафедрой (не позднее чем за 3 дня до дня «защиты»):
					ul.ml-5
						li 
							span.font-weight-bold Полностью законченный 
							|и 
							span.font-weight-bold.text-underline ПЕРЕПЛЕТЕННЫЙ 
							|дипломный проект(работу, диссертацию) со всеми подписями консультантов и отзывом руководителя;
						li 
							span.text-underline.font-weight-bold Плакаты 
							|в количестве не менее 6 штук 
							span.text-underline.font-weight-bold или 
							|распечатку всех страниц 
							span.text-underline.font-weight-bold презентации 
							|с титульным листом;
						li Дипломный проект (работу, диссертацию) и презентация, записанные на 
							span.font-weight-bold.text-underline компакт диск (CD) 
							|для проверки работы в системе «АНТИПЛАГИАТ».
			

		+footer()




