doctype html
html(lang="ru")
	include ../../templates/head.pug
	include ../../templates/header.pug
	include ../../templates/footer.pug
	include ../../templates/main__banner.pug

	head
		-var pageName = "Изучаемые дисциплины"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-4.pr-5
					h1 Список дисциплин, изучаемых на кафедре "Информационная безопасность"
					ol.numeric-list.pl-2 
						li.numeric-list__item Аппаратные и программные средства обеспечения информационной безопасности
						li.numeric-list__item Введение в профессию
						li.numeric-list__item Защита и обработка конфиденциальных документов
						li.numeric-list__item Защита информации
						li.numeric-list__item Защита информации в глобальных сетях
						li.numeric-list__item Защита информации от вредносного программного обеспечения
						li.numeric-list__item Имитационное моделирование систем обнаружения вторжений и компьютерных атак
						li.numeric-list__item Инженерно-техническая защита информации
						li.numeric-list__item Инженерно-техническая защита объектов инфокоммуникаций
						li.numeric-list__item Интеллектуальные технологии информационной безопасности
						li.numeric-list__item Информационная безопасность автоматизированных систем 
						li.numeric-list__item Комплексная защита информации
						li.numeric-list__item Криптографические методы защиты информации 
						li.numeric-list__item Криптографические методы и средства обеспечения информационной безопасности
						li.numeric-list__item Криптографические методы и средства программной защиты информации
						li.numeric-list__item Криптографические протоколы
						li.numeric-list__item Методы и средства защиты информации в компьютерных сетях
						li.numeric-list__item Методы и средства защиты компьютерной информации
						li.numeric-list__item Методы сжатия аудио и видеоинформации
						li.numeric-list__item Моделирование инфокоммуникационных систем
						li.numeric-list__item Моделирование систем защиты информации
						li.numeric-list__item Моделирование систем и процессов 
						li.numeric-list__item Нормативно-правовое обеспечение информационной безопасности
						li.numeric-list__item Обработка и кодирование в системах защиты информации
						li.numeric-list__item Объектно-ориентированное программирование систем защиты информации
						li.numeric-list__item Организация и управление службой защиты информации
						li.numeric-list__item Организация комплесной системы защиты информации на предприятии
						li.numeric-list__item Основы информационной безопасности
						li.numeric-list__item Основы информационной безопасности систем и сетей связи
						li.numeric-list__item Основы проектирования защищенных инфокоммуникационных систем
						li.numeric-list__item Основы стеганографии
						li.numeric-list__item Программирование в системах информационной безопасности 
						li.numeric-list__item Программная защита компьютерных сетей 
						li.numeric-list__item Программно-аппаратная защита информации
						li.numeric-list__item Программно-аппаратные средства защиты информации
						li.numeric-list__item Программные средства защиты информации
						li.numeric-list__item Сетевые информаиионные технологии
						li.numeric-list__item Сетевые технологии
						li.numeric-list__item Сжатие и хранение данных
						li.numeric-list__item Сжатие и хранение информации в автоматизированных системах
						li.numeric-list__item Системы комплексной защиты информации
						li.numeric-list__item Системы обнаружения вторжений в инфокоммуникациях
						li.numeric-list__item Системы обнаружения вторжений в компьютерные сети
						li.numeric-list__item Стеганография аудио и видео
						li.numeric-list__item Теория информационной безопасности и методология защиты инфокоммуникаций
						li.numeric-list__item Теория информационной безопасности и методология защиты информации
						li.numeric-list__item Технологии обработки информации
						li.numeric-list__item Технологии программной защиты в Интернете
						li.numeric-list__item Технологии стеганографии в системе инфокоммуникаций
						li.numeric-list__item Управление информационной безопасностью

		+footer()




