doctype html
html(lang="ru")
	include ../../templates/head.pug
	include ../../templates/header.pug
	include ../../templates/footer.pug
	include ../../templates/main__banner.pug

	head
		-var pageName = "Учебная работа кафедры"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-5.pr-3
					h1 Учебная работа кафедры
					h4.mt-3.mb-3.text-center.font-weight-bold Кафедра является выпускающей и готовит бакалавров и магистров.
					p.mb-2 Кафедра ведёт подготовку бакалавров по следующим направлениям:
					ul.ml-5
						li Информационная безопасность (10.03.01) – профиль "Комплексная защита объектов информатизации"
						li Инфокоммуникационные технологии и системы связи (11.03.02) – профиль "Программно-защищённые инфокоммуникации" 
					p.mt-4.mb-2 Кафедра ведёт подготовку магистров по следующим направлениям:
					p.mb-2 в рамках направления "Информатика и вычислительная техника" (09.04.01) 
					p.mb-2.font-weight-bold Программная защита информации
					p.mb-3 Основное содержание магистерской программы:
					ul.ml-5 
						li Программирование защищённых сетевых приложений;
						li Угрозы безопасности в Интернете;
						li Системы обнаружения вторжений в инфокоммуникациях;
						li Защита информации от внутренних ИТ-угроз;
						li Криптографические методы и средства защиты информации;
						li Обеспечение информационной безопасности;
						li Защита информационных процессов в компьютерных системах;
						li Антивирусная защита компьютерных систем.
					p.mb-2 в рамках направления "Инфокоммуникационные системы и технологии" (11.04.02)
					p.mb-2.font-weight-bold Безопасность и программная защита инфокоммуникаций
					p.mb-3 Основное содержание магистерской программы:
					ul.ml-5 
						li Криптографические методы и средства программной защиты информации;
						li Метода и средства обнаружения вторжений в инфокоммуникации;
						li Теория и технологии стеганографии и стегоанализа;
						li Защита и обработка конфиденциальных документов;
						li Комплексная защита информации.
					 

		+footer()




