doctype html
html(lang="ru")
	include ../../templates/head.pug
	include ../../templates/header.pug
	include ../../templates/footer.pug
	include ../../templates/main__banner.pug

	head
		-var pageName = "Изучаемые дисциплины"
		+head(pageName)
	body
		.mask.d-none
		+header()
		main
			+main__banner()
			.main__body
				.container.pt-2.pb-2.pl-4.pr-5
					h1 ТЕМЫ   магистерских диссертаций кафедры ИБ (2017/2018 учебный год)
					ol.numeric-list.pl-2
						

		+footer()




